For this project we need:
1. access the dataset with data from 01/01/1980 - 01/01/2020
2. find the average of each value for each day

In [1]:
import datetime
import pandas as pd

In [73]:
url = 'weather_output.csv'
df = pd.read_csv(url)
df.drop(df.columns[0], axis=1, inplace=True)

First we need to be able to find all values of 1st of january

In [64]:
final_df = pd.DataFrame()

In [75]:
def create_day_month_columns():
    df['date'] = pd.to_datetime(df['date'])
    df['day'] = df['date'].dt.day
    df['month'] = df['date'].dt.month

In [88]:
def get_average_values():
    values_dict = {}
    for month in range(1,13):
        for day in range(1,32):
            condition1 = df['day'] == day
            condition2 = df['month'] == month
            filter_df = df[condition1 & condition2]
            if filter_df.empty:
                continue
            date = f'{day}/{month}'
            t_mean = filter_df[filter_df.columns[2]].mean() 
            t_max_mean = filter_df[filter_df.columns[3]].mean() 
            t_min_mean = filter_df[filter_df.columns[4]].mean()
            precipitation_mean = filter_df[filter_df.columns[5]].mean()
            rain_mean = filter_df[filter_df.columns[6]].mean()
            snow_mean = filter_df[filter_df.columns[7]].mean()
            precipitation_hours_mean = filter_df[filter_df.columns[8]].mean()
            wind_speed_mean = filter_df[filter_df.columns[9]].mean()
            wind_gusts_mean = filter_df[filter_df.columns[10]].mean()
            shortwave_radiation_mean = filter_df[filter_df.columns[12]].mean()
            values_dict[date] = {'temperature_mean': t_mean,
                                'max_temperature_mean': t_max_mean,
                                'min_temperature_mean': t_min_mean,
                                'precipitation_mean': precipitation_mean,
                                'rain_mean': rain_mean,
                                'snow_mean': snow_mean,
                                'precipitation_hours_mean': precipitation_hours_mean,
                                'wind_speed_mean': wind_speed_mean,
                                'wind_gusts_mean': wind_gusts_mean,
                                'shortwave_radiation_mean': shortwave_radiation_mean
                                }
    return_df = pd.DataFrame.from_dict(values_dict, orient='index')
    return return_df

In [89]:
create_day_month_columns()
final_df = get_average_values()
display(final_df)

,temperature_mean,max_temperature_mean,min_temperature_mean,precipitation_mean,rain_mean,snow_mean,precipitation_hours_mean,wind_speed_mean,wind_gusts_mean,shortwave_radiation_mean
1/1,4.995909,7.338439,2.537220,2.941463,2.939024,0.010244,4.317073,23.659357,47.221463,2.080976
2/1,4.867831,7.246737,2.426738,1.835000,1.835000,0.000000,3.225000,24.447642,49.022999,2.549500
3/1,4.440748,7.005487,1.895487,2.300000,2.297500,0.005250,3.750000,25.494043,50.408999,2.273250
4/1,4.638925,7.099237,1.892987,2.002500,1.980000,0.028000,3.075000,25.071737,49.787999,2.322250
5/1,5.098613,7.592987,2.332988,2.322500,2.202500,0.089250,4.100000,23.668557,46.394999,2.184750
...,...,...,...,...,...,...,...,...,...,...
27/12,4.682362,6.991737,2.231738,1.025000,0.907500,0.082250,2.225000,23.979384,46.088999,2.274000
28/12,4.444394,6.832988,1.825487,1.060000,0.932500,0.091000,1.975000,21.388834,42.326999,2.472500
29/12,4.315175,6.880488,1.835488,1.960000,1.912500,0.036750,3.775000,21.201974,42.795000,2.247000
30/12,5.128040,7.494237,2.829237,2.322500,2.237500,0.063000,4.275000,22.883216,44.756999,2.031250
31/12,5.185800,7.286737,2.874237,0.950000,0.910000,0.028000,2.575000,22.506410,43.325999,2.077000

In [91]:
final_df.to_csv('weather_averaged.csv')